:root {
}

button {
  border-radius: 1rem;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: darkgray;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body {
}

@media screen and (max-width: 600px) {
}
